@import 'reset';

$screen-colour: black;
$text-colour: green;
$text-fade-colour: white;

#matrix {
    width: 100%;
    height: 100%;
    background-color: $screen-colour;
    color: $text-colour;
    position: absolute;
    top: 0;
    left: 0;
    font-family:'Courier New';
    font-size: 25px;
    text-align: center;
    white-space: pre;
    overflow: hidden;
}

#matrix .matrix-column {
    position:absolute;
    top:0;
    left:0;
    background-image: linear-gradient(to bottom, $text-colour, $text-colour, $text-colour, $text-fade-colour);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

#matrix .fade-column {
    background-image: linear-gradient(to bottom, $screen-colour, $screen-colour, transparent);
    position: absolute;
    top: 0;
    width: 100%;
}